{
	"apiBase": "https://apitest.laji.fi/v0",
	"formBase": "localhost:8082/api",
	"accessToken": "",
	"userToken": ""
	"userId": ""
	"googleApiKey": "",
	"lajiStoreAuth": "",
	"lajiStoreBaseUrl": "",
	"primaryDataBankFormID": "MHL.70",
	"secondaryDataBankFormID": "MHL.68"
}
