{
	"apiBase": "https://apitest.laji.fi/v0",
	"formApiBase": "http://localhost:8082/api",
	"accessToken": "",
	"personToken": "",
	"googleApiKey": "",
	"lajiStoreAuth": "",
	"lajiStoreBaseUrl": "https://store-dev.luomus.fi",
	"primaryDataBankFormID": "MHL.70",
	"secondaryDataBankFormID": "MHL.68"
}
