<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>LajiForm</title>
		<link rel="stylesheet" id="theme" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon"> 
		<style>
			body {
				background-color: #f6f8f8;
			}
		</style>
	</head>
	<body>
		<div id="app" class="container-fluid"></div>
		<script src="static/main.js"></script>
	</body>
</html>
