.field-expanded, .field-contracted {
	width: 0px;
	padding-right: 4px;
	margin-left: -20px;
}
.field-expanded:before {
	content: "▼";
}
.field-contracted:before {
	content: "►";
}

.clickable {
	cursor: pointer;
}

.selected {
	border: 1px solid gray;
}
