$def: #f2f6ff;
$def_separating: darken($def, 30%);
$darker: #47494e;
$def_accent: #337ab7;

.ljb {
	$root: &;
	&-field {
		&-expanded, &-contracted {
			width: 0px;
			padding-right: 4px;
			margin-left: -20px;
		}
		&-expanded:before, &-contracted:before {
			color: black;
		}
		&-expanded:before {
			content: "▼";
		}
		&-contracted:before {
			content: "►";
		}
		&-selected {
			background-color: #337ab7;
			color: white;
		}
	}

	&-clickable {
		cursor: pointer;
	}

	&-editor {
		zoom: 85%;
		background-color: $def;
		#{$root}-draggable-line {
			background-color: $def_separating;
		}
	}
	&-editor-nav-bar {
		padding: 10px;
		background-color: $darker;
	}
	&-field-editor {
		padding: 10px;
	}
	&-field-chooser {
		background: white;
		border: 1px solid $def_separating;
		margin-top: 5px;
		border-radius: 2px;
	}

	&-draggable-line {
		background-color: black;
	}
	&-editor-chooser {
		background-color: darken($def, 4%);
		border-bottom: 1px solid $def_accent;

		&-button {
			padding: 0px 6px;
		}
		&-button#{$root}-active {
			border-bottom: 2px solid blue
		}
	}
	&-spinner-black .react-spinner_bar {
		background-color: black;
	}
}
