$def: #f2f6ff;
$def_separating: darken($def, 30%);
$darker: #47494e;
$def_accent: #337ab7;
$red: darken(red, 10%);

.ljb {
	$root: &;
	&-field {
		& > span:hover:not(&-selected) {
			background-color: lighten($darker, 20%);
		}
		&-expanded, &-contracted {
			width: 0px;
		}
		&-expanded:before, &-contracted:before {
			color: white;
			margin-left: -13px;
		}
		&-expanded:before {
			content: "▼";
		}
		&-contracted:before {
			content: "►";
		}
		&-selected {
			background-color: #337ab7;
			color: white;
		}
		&-delete {
			margin-left: auto;

			&:before {
				content: "✕";
				font-weight: bold;
				color: lighten(red, 20%);
			}
			&:hover:before {
				color: #ff0000;
			}
		}
		&-item {
			display: flex;
		}
		&-label {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}

	&-clickable {
		cursor: pointer;
	}

	&-editor {
		background-color: $def;
		#{$root}-draggable-line {
			background-color: $def_separating;
		}
	}
	&-editor-nav-bar {
		padding: 10px;
		background-color: $darker;
	}
	&-editor-nav-bar .glyphicon {
		color: white;
		padding: 2px;

		&:hover {
			color: $def_accent;
		}
		&.active {
			color: $red;
		}
	}
	&-field-editor {
		padding: 10px;
	}
	&-field-chooser {
		color: white;
		background: initial;
		border: none;
	}

	&-field {
		padding-left: 10px;
	}

	&-draggable-line {
		background-color: black;
	}
	&-editor-chooser {
		background-color: darken($def, 4%);
		border-bottom: 1px solid $def_accent;

		&-button {
			padding: 0px 6px;
		}
		&-button#{$root}-active {
			border-bottom: 2px solid blue;
		}
	}
	&-spinner-black .react-spinner_bar {
		background-color: black;
	}
	&-form-highlight {
		outline: 3px solid lighten($red, 10%);
	}
	
	&-json-editor-invalid {
		background-color: lighten(#ff0000, 30%);
	}
}
