$neutral: #f5f5f5;
$neutral-1: lighten($neutral, 4 * 10%);
$neutral-2: lighten($neutral, 3 * 10%);
$neutral-3: lighten($neutral, 2 * 10%);
$neutral-4: lighten($neutral, 1 * 10%);
$neutral-5: $neutral;
$neutral-6: darken($neutral, 1 * 10%);
$neutral-7: darken($neutral, 2 * 10%);
$neutral-8: darken($neutral, 3 * 10%);
$neutral-9: darken($neutral, 4 * 10%);

$danger: #d22d2d;
$danger-1: lighten($danger, 4 * 10%);
$danger-2: lighten($danger, 3 * 10%);
$danger-3: lighten($danger, 2 * 10%);
$danger-4: lighten($danger, 1 * 10%);
$danger-5: $danger;
$danger-6: darken($danger, 1 * 10%);
$danger-7: darken($danger, 2 * 10%);
$danger-8: darken($danger, 3 * 10%);
$danger-9: darken($danger, 4 * 10%);

$warning: #d2b21d;
$warning-1: lighten($warning, 4 * 10%);
$warning-2: lighten($warning, 3 * 10%);
$warning-3: lighten($warning, 2 * 10%);
$warning-4: lighten($warning, 1 * 10%);
$warning-5: $warning;
$warning-6: darken($warning, 1 * 10%);
$warning-7: darken($warning, 2 * 10%);
$warning-8: darken($warning, 3 * 10%);
$warning-9: darken($warning, 4 * 10%);

$dark: #47494e;
$dark-1: lighten($dark, 4 * 10%);
$dark-2: lighten($dark, 3 * 10%);
$dark-3: lighten($dark, 2 * 10%);
$dark-4: lighten($dark, 1 * 10%);
$dark-5: $dark;
$dark-6: darken($dark, 1 * 10%);
$dark-7: darken($dark, 2 * 10%);
$dark-8: darken($dark, 3 * 10%);
$dark-9: darken($dark, 4 * 10%);

$accent: #337ab7;
$accent-1: lighten($accent, 4 * 10%);
$accent-2: lighten($accent, 3 * 10%);
$accent-3: lighten($accent, 2 * 10%);
$accent-4: lighten($accent, 1 * 10%);
$accent-5: $accent;
$accent-6: darken($accent, 1 * 10%);
$accent-7: darken($accent, 2 * 10%);
$accent-8: darken($accent, 3 * 10%);
$accent-9: darken($accent, 4 * 10%);

$hilight: $danger;
$neutral-separating: $neutral-2;

$padding: 10px;
$bRadius: 2px;

:export {
	padding: $padding;
}

@mixin editor {
	background-color: $neutral;
	*:focus {
		outline: none;
	}
}

.ljb {
	$root: &;
	&-field {
		& > span:hover {
			background-color: $dark-3;
		}
		& > &-item-selected:hover {
			background-color: $accent-4;
		}
		&-expanded, &-contracted {
			width: 0px;
		}
		&-expanded:before, &-contracted:before {
			color: white;
			margin-left: -13px;
		}
		&-expanded:before {
			content: "▼";
		}
		&-contracted:before {
			content: "►";
		}
		&-delete {
			margin-left: auto;

			&:before {
				content: "✕";
				font-weight: bold;
				color: $danger-3;
			}
			&:hover:before {
				color: $danger;
			}
		}
		&-item {
			display: flex;

			&-selected {
				background-color: $accent;
				color: white;
			}
		}
		&-label {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}

	&-clickable {
		cursor: pointer;
	}

	&-editor {
		box-shadow: 0px -2px 6px 1px #0000004d;

		@include editor;

		#{$root}-error, #{$root}-warning {
			padding: 0 $padding;
			border-bottom: 1px solid;
			width: 100%;
		}
		#{$root}-error {
			background-color: $danger-1;
			border-color:  $danger-6;
			color: $danger-6;
		}
		#{$root}-warning {
			background-color: $warning-1;
			border-color:  $warning-6;
			color: $warning-6;
		}
	}
	&-editor-nav-bar {
		padding: $padding;
		background-color: $dark;
	}
	&-editor-toolbar .glyphicon.active {
		color: $accent;
	}

	&-elem-picker:focus {
		outline: none;
	}

	&-field-editor {
		padding: $padding;

		fieldset .field-object > div > div > fieldset > div {
			padding-left: $padding;
		}

	}
	&-field-chooser {
		color: white;
		background: initial;
		border: none;
	}

	&-field {
		padding-left: $padding;
	}

	&-draggable-line {
		background-color: #717171;
	}

	&-editor-toolbar {
		background-color: $neutral-6;
		border-bottom: 1px solid $neutral-separating;
		padding: 2px;

		&-separator {
			padding: 0px 4px;
			&:before {
				content: "|";
				color: $neutral-separating;
			}
		}

		#{$root}-ml {
			margin-left: 2px;
		}
	}
	&-editor-chooser {
		margin: -2px;

		&-button {
			padding: 2px 6px;

			&:hover {
				border-bottom: 2px solid $accent;
			}
		}
		&-button#{$root}-active {
			border-bottom: 2px solid $accent;
			background-color: $neutral-7;
		}
	}
	&-spinner-black .react-spinner_bar {
		background-color: black;
	}
	

	&-json-editor {
		font-family: monospace;
		font-size: 12px;
		max-height: 80vh;

		&-invalid {
		background-color: $danger-2;
		}
	}

	&-close-button {
		background: none;
		border: none;
		margin-top: -$padding;
		margin-right: -$padding - 3;

		&:before {
			content: "✖";
			color: $accent;
		 }
	}

	&-options-editor-clear {
		background: white;
		border: 1px solid $hilight;
		border-radius: $bRadius;
		color: $hilight;
		font-weight: bold;
		padding: 0 $padding;
		margin-right: -$padding;
		margin-left: -$padding;
		&:after {
			content: "✖";
			padding: 5px;
		 }
	}

	&-picker-highlighter {
		background: $accent;
		opacity: 0.3;
	}

	&-creator-wizard-create-create {
			margin-bottom: $padding;
	}

	&-form-select {
		&-input {
			position: relative;
			.glyphicon {
				position: absolute;
				right: 10px;
				top: 10px;
			}
		}

		&-list {
			max-height: 50vh;
			overflow: auto;

			&-item {
				&-delete {
					color: $danger;
					float: right;
					padding: 5px 10px;
					margin: -5px;
					border-radius: 15px;

					&:before {
						content: "✖";
					}

					&:hover {
						color: $danger-7;
						background: $danger-1;
					}
				}

				#{$root}-spinner-container {
					float: right;
					left: initial;
					top: 10px;
				}
			}
		}
	}

	.modal-content {
		@include editor;
	}
}
